<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<style>
a {
	text-decoration: none;
}

#break {
	cursor: pointer;
}
.layui-footer{
	text-align:center;
	font-size:10px;
}
</style>
<script src="scripts/path.js"></script>
<script>
	
</script>
</head><body><div class="layui-layout layui-layout-admin">
	<div class="layui-header">
		<div class="layui-logo layui-nav-item">
			<ul class="layui-nav">
				<a class="layui-nav-item"><a href="index" style="font-size: 29px;letter-spacing: 0.321em;">考勤系统</a></a>
			</ul>
		</div>
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<p class="layui-nav-item"><a href="stassMang">&nbsp;员工管理</a></p>
			<a class="layui-nav-item"><a href="record">&nbsp;考勤记录</a></a>
			<p class="layui-nav-item"><a href="attend">&nbsp;考勤管理</a></p>
		</ul>
		<ul class="layui-nav layui-layout-right" style="position: absolute;right: 0px;top: 0px;">
			

			<p class="layui-nav-item"><a href="logout" id="break" style="margin-right: 30px;">&nbsp;退出</a></p>
		</ul>
	</div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree" lay-filter="test">
				<p class="layui-nav-item"><a href="javascript:;" shiro:haspermission="/jurisdiction" style="font-size: 20px;">&nbsp;授权管理</a>
					<dl class="layui-nav-child">
						<dd>
							 <a href="jurisdiction">&nbsp;权限管理</a>
						</dd>
					</dl></p>
				<p class="layui-nav-item"><a href="javascript:;" style="font-size: 20px;">&nbsp;审批管理</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="approval">&nbsp;请假申请</a> <a href="myApproval">&nbsp;我的审批</a>
							 <!-- <a href="reim"><img src="images/reim.png">&nbsp;报销流程</a>  -->
						</dd>
					</dl></p>
				
				<p class="layui-nav-item"><a href="javascript:;" style="font-size: 21px;">&nbsp;部门管理</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="dept">&nbsp;部门信息</a>
							<a shiro:haspermission="/deptauthority" href="addDept">&nbsp;添加部门</a>
						</dd>
					</dl></p>
					
					<p class="layui-nav-item" style="font-size: 20px;"><a href="javascript:;">&nbsp;数据管理</a>
					<dl class="layui-nav-child">
						<dd>
							<a class="" href="dataImport" shiro:haspermission="/dataImport" style="font-size: 16px;">&nbsp;数据导入</a>
							
							
						</dd>
					</dl></p>
			</ul>
		</div>
	</div>
	
	<div class="layui-footer">
		
	</div>
</div>
<script>
	//JavaScript
	layui.use('element', function() {
		var element = layui.element;
	});
</script>
</body></html>